* {

    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {

  font-family: "Open Sans", sans-serif;

}

.coutainer {
    padding: 30px 0 14px;
    border-bottom: 0.3px solid #46A35880;
    max-width: 1205px;
    margin: 0 auto;
}


header {


    img,
    nav,
    button {
        display: inline-block;
        vertical-align: middle;
    }



    nav {
        margin-left: 229px;

        a {

            &:not(:first-of-type) {
                margin-left: 50px;
            }

            font-size: 16px;
            text-decoration: none;
            font-weight: 400;
            color: #3D3D3D;

        }

    }


    .home1 {
        font-weight: 700;
        border-bottom: 3px solid #46A358;
        padding-bottom: 22px;

    }


}



.imgvector1 {
    margin-left: 261px;
    cursor: pointer;
}

.imgvector2 {
    margin-left: 30px;
    cursor: pointer;
}


.button1 {
    color: #f5f5f5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #46A358;
    border-radius: 6px;
    height: 35px;
    width: 100px;
    margin-left: 30px;
    cursor: pointer;

}

.content {
    height: 450px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 12px;
    display: flex;



}

.pot {
    margin-left: 123px;
}


.main-title {
    margin-top: 68px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;

}

.text1 {
    margin-top: 7px;

}

h1 {

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    color: #3D3D3D;
}

p {

    margin-top: 5px;
}

.butoon2 {
    margin-top: 44px;
    color: #f5f5f5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    background-color: #46A358;
    border-radius: 6px;
    height: 35px;
    width: 140px;
    cursor: pointer;
}

aside {

    width: 310px;
    height: 774px;
    margin-top: 26px;
    margin-left: 135px;
}


ul {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-top: 7px;
    margin-left: 30px;


    a {
        color: #3D3D3D;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
    }

    .a-HousePlants {
        color: #46A358;
    }


}

h3 {
    font-size: 18px;
    font-weight: 700;

    padding-top: 14px;
    margin-left: 18px;
}


.nav2 {

    width: 838px;
    height: 23px;
    margin-top: 26px;
    margin-left: 50px;
    margin-bottom: 30px;

    & a:not(:first-child) {
        margin-left: 38px;
    }

    a {
        text-decoration: none;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;




    }

    .All-Plants {
        color: #46A358;
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        border-bottom: 3px solid ;
    }
}


.Short {
    margin-left: 385px;
}

.product {
    margin-top: 30px;
    width: 840px;
    height: 1190px;
}

.product-card {
    /* width: 258px; */
    height: 350px;
    padding-top: 1px;
    display: flex;
    gap: 30px;


}

.product-card2 {

    height: 350px;
    padding-top: 1px;
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.product-img {

    width: 250px;
    height: 250px;
    margin: 31px 4px 19px 4px;

}

.product-price {
    margin-top: 24px;
}

.collor-grin {

    color: #46A358;
}